No code is being run in this script, this is here to store SQL commands that I executed outside the python script in the database console

In [ ]:
%load_ext sql
%sql sqlite:///MKU_digital_assignment.db

# SQL code for creating table

In [ ]:
%%sql
create table Category(
    CategoryID INTEGER PRIMARY KEY,
    CategoryName varchar(50),
    CategoryBudget real
);

create table Spending(
    TransactionID INTEGER PRIMARY KEY,
    CategoryID int,
    Amount MONEY,
    Date varchar(10),
    FOREIGN KEY (CategoryID) REFERENCES Category(CategoryID)
);

In [ ]:
%%sql
Insert Into Category (CategoryName, CategoryBudget)
VALUES
("Eating out", 100),
("Bills", 300),
("Other", 50)

Insert Into Spending (CategoryID, Amount, Date)
VALUES
(3, 40, '2025-05-13'),
(4, 237, '2025-05-14'),
(2, 12, '2025-05-14'),
(2, 21, '2025-05-16'),
(1, 58, '2025-05-19'),
(5, 6, '2025-05-17')

insert into spending(CategoryID, Amount, Date) values (1, 23, '2025-05-18')

This is SQL code that was used to create the relational database
- Using a database means fetching data is more efficient, easier and means I can use the normalisation process to better structure data
- By using an integer value the ID column can autoincrement

Idea for later with how the GUI could interact with the database
https://www.youtube.com/watch?v=HSyERXCiAtI